/* abril-fatface-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.svg#Poppins') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    cursor: default;
    font-family: 'Abril Fatface', serif;
}

.App {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #284D68;
    color: #5dd597;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
    margin-top: 70px;
    width: 100vw;
}

.headings {
    position: absolute;
    left: 40vw;
    top: -40px;
}

h1 {
    letter-spacing: 3px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
}

.images {
    margin: 0 auto;
}

.images > img {
    width: 200px;
    height: 200px;
    margin-right: 25px;
}

.images > .large-img {
    height: 336px;
}

.middle {
    display: flex;
}

.left {
    background-color: #5dd597;
    width: 50vw;
    color: #F7F6F7;
}

.left-content {
    font-family: 'Poppins', sans-serif;
    margin: 20px 20px 30px 40px;
    color: rgb(53, 113, 123);
    font-size: 17px;
}

.left-content > p {
    margin-bottom: 5px;
    color: #284D68;
    font-size: 18px;
}

.left-content > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
}

.left-content > .rate,
.left-content > .link {
    margin-top: 25px;
}

.left-content > .lesson-text-2 {
    color: #284D68;
    font-size: 16px;
}

.left-content > .link,
.left-content > .address  {
    text-align: center;
}

.left-content > .address  {
    margin-bottom: 25px;
    color: rgb(53, 113, 123);
    font-size: 18px;
}

.lesson-text-2 > a {
    display: inline-block;
}

.right {
    background-color: #F7F6F7;
    width: 50vw;
    color: #284D68;
    font-size: 18px;
}

.contact {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact > .phone {
    margin: 20px 20px 0px 20px;
}

.phone > a {
    color: rgb(25, 25, 202);
    text-decoration: none;
}

.contact > a {
    display: inline-block;
}

.contact > a > img {
    width: 40px;
    height: 40px;
}

.credentials {
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
}

.cred-list > li {
    color: rgb(53, 113, 123);
    font-size: 16px;
    margin-top: 5px;
}

.sendoff-text {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 17px;
    margin: 40px 20px 0px;
}

.bottom {
    background-color: #6A7D7E;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
}

.copyright > span {
    font-size: 20px;
}

h2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    margin-top: 10px;
    padding-bottom: 20px;
}


/* MOBILE STYLES */

@media (max-width: 1280px) {
    .left-content > ul {
        font-size: 15px;
    }
}

@media (max-width: 1160px) {
    .headings {
        left: 35vw;
    }
    .left-content > ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .sendoff-text {
        margin-top: 80px;
    }
}

@media (max-width: 950px) {
    .header {
        height: 400px;
    }
    .headings {
        left: 32vw;
        top: -40px;
    }
    .images > img {
        width: 160px;
        height: 160px;
    }
    .images > .large-img {
        height: 269px;
    }
}

@media (max-width: 850px) {
    h1 {
        font-size: 90px;
    }
    h3 {
        font-size: 24px;
    }
}

@media (max-width: 750px) {
    .header {
        height: 340px;
    }
    .headings {
        left: 30vw;
    }
    h1 {
        font-size: 82px;
        letter-spacing: 1px;
    }
    .images > img {
        width: 120px;
        height: 120px;
    }
    .images > .large-img {
        height: 202px;
    }
    .middle {
        flex-direction: column;
    }
    .left, 
    .right {
        width: 100vw;
    }
    .left-content > ul {
        grid-template-columns: repeat(3, 1fr);
    }
    h2 {
        padding-bottom: 10px;
    }
    .sendoff-text {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .headings {
        left: 28vw;
    }
    h1 {
        font-size: 76px;
    }
    h3 {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 72px;
    }
    h3 {
        text-align: end;
    }
    .images > img {
        margin-right: 15px;
    }
}

@media (max-width: 550px) {
    .main {
        margin-bottom: -50px;
    }
    .headings {
        left: 20vw;
    }
    .images > img {
        width: 100px;
        height: 100px;
    }
    .images > .large-img {
        height: 168px;
    }
    .left-content > ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .main {
        padding-top: 30px;
    }
    .headings {
        top: -80px;
        left: 6vw;
    }
    h1 {
        font-size: 70px;
    }
    .images > img {
        margin-right: 5px;
    }
}

@media (max-width: 430px) {
    .main {
        margin-bottom: -35px;
        padding-top: 10px;
    }
    .header {
        height: 250px;
    }
    .headings {
        left: 10vw;
        top: -65px;
    }
    h1 {
        font-size: 56px;
        letter-spacing: 0px;
    }
    h3 {
        font-size: 20px;
    }
    .images > img {
        width: 80px;
        height: 80px;
        margin-right: 2px;
    }
    .images > .large-img {
        height: 134px;
    }
    .left-content {
        margin: 20px 10px 30px 10px;
    }
    .left-content > ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .credentials {
        margin-top: 30px;
        margin-left: 10px;
    }
    .contact > .phone {
        margin: 20px 10px 0px 10px;
        text-align: center;
    }
}

@media (max-width: 350px) {
    .headings {
        left: 4vw;
    }
    h1 {
        font-size: 57px;
    }
    h3 {
        font-size: 20px;
    }
    .images > img {
        width: 70px;
        height: 70px;
        margin-right: 5px;
    }
    .images > .large-img {
        height: 118px;
    }
    h2 {
        font-size: 46px;
    }
}

@media (max-width: 310px) {
    .header {
        height: 220px;
    }
    .headings {
        right: 10px;
    }
    h1 {
        font-size: 45px;
    }
    .images > img {
        width: 60px;
        height: 60px;
        margin-right: 2px;
    }
    .images > .large-img {
        height: 101px;
    }
    h2 {
        font-size: 42px;
    }
}