/* abril-fatface-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/abril-fatface-v19-latin/abril-fatface-v19-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-800italic.svg#Poppins') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    cursor: default;
    font-family: 'Abril Fatface', serif;
}

.App {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #DC3E26;
    color: #EDCD44;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
    margin-top: 70px;
}

.headings {
    position: absolute;
    right: 50px;
    top: -40px;
}

h1 {
    letter-spacing: 3px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
}

.images > img {
    width: 200px;
    margin-right: 25px;
}

.footer {
    display: flex;
    height: 50vh;
    font-size: 30px;
    letter-spacing: 0.5px;
}

.left {
    background-color: #EDCD44;
    width: 50vw;
    color: #559faa;
}

.right {
    background-color: #81CAD6;
    width: 50vw;
    color: #DC3E26;
}

h2 {
    text-align: center;
    margin-top: 14px;
}